resource "aws_iam_instance_profile" "example_instance_profile" {
  name = "example"
  roles = ["${aws_iam_role.example_role.name}"]
}

resource "aws_iam_role" "example_role" {
  name = "example_assume_role"
  path = "/"
  assume_role_policy = "${data.aws_iam_policy_document.example_ec2_assume_role_policy.json}"
}

data "aws_iam_policy_document" "example_ec2_assume_role_policy" {
  statement {
    actions = ["sts:AssumeRole"]
    effect  = "Allow"

    principals = [
      {
        type        = "Service"
        identifiers = ["ec2.amazonaws.com"]
      },
    ]
  }
}
